@import '../../global/colors.less';

.headerWrapper {
  background: @neutral-500;
  z-index: 2;
  .headerContainer {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    height: 90px;
    justify-content: flex-end;
    padding: 0 20px;
    @media only screen and (max-width: 1460px) {
      padding: 0 20px;
    }
    .headerAccount {
      float: right;
    }
    .menuProfile {
      z-index: 10;
      :global {
        .rc-menu-submenu {
          .rc-menu-submenu-title {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
        .rc-menu-item-selected,
        .rc-menu-item-active {
          background: none;
        }
        .rc-menu-item-active,
        .rc-menu-submenu-active > .rc-menu-submenu-title {
          background: transparent;
        }
        .rc-menu-submenu > .rc-menu {
          background: @neutral-300;
          border-radius: 5px;
        }
        .rc-menu-submenu-selected {
          background: none;
        }
        .rc-menu-item,
        .rc-menu-submenu-title {
          cursor: pointer;
          padding: 10px 15px !important;
        }

        .rc-menu {
          border: none;
          box-shadow: none;
          background: none;
        }
      }
    }
  }
}
