@import '../../global/colors.less';

.headerWrapper {
  background: @neutral-500;
  z-index: 2;
  .headerContainer {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    height: 90px;
    justify-content: flex-end;
    padding: 0 20px;
    @media only screen and (max-width: 1460px) {
      padding: 0 20px;
    }
    .headerAccount {
      float: right;
    }
  }
}
