@import '../../global/colors.less';

.headerWrapper {
  background: @neutral-500;
  position: sticky;
  top: 0;
  z-index: 2;
  .headerContainer {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    @media only screen and (max-width: 1460px) {
      padding: 0 20px;
    }
    .headerFlex {
      display: flex;
      height: 80px;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .flex {
        display: flex;
        align-items: center;
      }
      .logo {
        margin-right: 100px;
      }
      .link {
        display: flex;
        align-items: center;
        .text {
          margin-right: 50px;
        }
      }
    }
  }
}

.accountInfo {
  display: flex;
  align-items: center;
}

.accountBalance {
  margin-right: 15px;
}
