.children {
  margin: 0 auto;
}
.mainLayout {
  .SideBar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 350px;
  }
  .LayoutContent {
    margin-left: 350px;
  }
}
