@import '../../global/colors.less';

.wrapperInput {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  .inputLabel {
    margin-right: 10px;
    // white-space: nowrap;
    min-width: 150px;
    text-align: right;
  }
  .inputLabelBehind {
    white-space: nowrap;
    margin-left: 10px;
  }
  input {
    background: @neutral-500;
    width: 100%;
    border: none;
    font-size: 18px;
    color: #b13acd;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px 20px;
    &::placeholder {
      color: #b13acd;
      font-size: 18px;
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
