@import '../../../global/colors.less';

.EditLaunchPadWrapper {
  padding: 30px;
  margin-bottom: 100px;

  .EditLaunchPadTop {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 20px;
    background: @neutral-500;
    border-radius: 8px;
    .button {
      margin-right: 20px;
    }
    .InputSearch {
      width: 100%;
    }
  }
  .Pagination {
    text-align: right;
  }
  .groupAction {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .table {
    padding: 30px 20px;
    background: @neutral-500;
    border-radius: 8px;
  }
}
