.ListGroupSaleWrapper {
  max-width: 1460px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 0.8) -145.15%,
    #121212 100%
  );
  .background {
    background-image: url('/assets/images/Rectangle4915.svg');
    &:extend(.background-img);
    max-width: 662px;

    .backgroundContent {
      background-image: url('/assets/images/Rectangle4914.svg');
      &:extend(.background-img);
      max-width: 392px;
    }
  }
}
.background-img {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 103px;
}
