@import '../../global/colors.less';

.tabButton {
  background: none;
  border: none;
  margin-right: 33px;
  padding: 8px 38px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover p {
    color: @neutral-100;
    transition: 0.5s ease;
  }
}
.wrapperLaunch {
  padding: 54px 0px 96px 0px;
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 1460px) {
    padding: 54px 20px 96px 20px;
  }

  .heading {
    background-image: url('/assets/images/bc-launch.png'),
      url('/assets/images/bc-launch-left.png'),
      url('/assets/images/bc-lauch-right.png');
    background-position: left, left, right;
    background-repeat: no-repeat;
    padding: 48px 48px 48px 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: @neutral-500;
    border-radius: 8px;
    background-size: contain, cover, cover;
    .left {
      margin-right: 66px;
      .text {
        margin-bottom: 42px;
      }
    }
    .right {
      padding: 36px;
      background: linear-gradient(
        144.14deg,
        #5b5b5b -42.35%,
        rgba(18, 18, 18, 0) 149.87%
      );
      box-shadow: 0px 0px 10px 5px rgba(187, 20, 226, 0.25);
      position: relative;
      border-radius: 8px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        padding: 2px;
        background: linear-gradient(
          92.81deg,
          rgba(50, 59, 224, 0.5) -5.17%,
          rgba(177, 58, 205, 0.5) 172.83%
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }
      .leftContent {
        margin-right: 110px;
      }
      .item {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        .itemTitle {
          white-space: nowrap;
        }
        .itemContent {
          margin-left: 5px;
        }
      }
    }
  }

  .ListGroupSale {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .ListGroupSaleItem {
      width: calc(50% - 28px);
      margin: 0px 14px 28px 14px;
      &:nth-child(even) {
        margin-right: 0;
      }
      &:nth-child(odd) {
        margin-left: 0;
      }
    }
  }
}
.tabLaunch {
  margin: 56px auto;
  text-align: center;
  background: @neutral-500;
  border: 1px solid @neutral-300;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 4px;
  width: fit-content;

  .tabButtonActive {
    background: #b13acd;
    border-radius: 8px;
    &:last-child {
      margin-right: 0;
    }
    &:extend(.tabButton);
    p {
      color: @neutral-100;
    }
  }
}
.title {
  background: -webkit-linear-gradient(
    92.75deg,
    #323be0 -57.33%,
    #b13acd 106.46%
  );
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//detail launchpad

.background {
  background: linear-gradient(180deg, #212121 -6.76%, rgba(33, 33, 33, 0) 100%);
  border-radius: 8px;
}

.openInTime {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 12px;
  background: linear-gradient(
    180deg,
    rgba(33, 33, 33, 0.8) 0%,
    rgba(33, 33, 33, 0) 92.79%
  );
  border-radius: 8px;
  max-width: 468px;
  margin: 0 auto;
  .number {
    text-align: center;
  }
}

.wrapperLaunchDetail {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 0 100px 0px;
  @media only screen and (max-width: 1460px) {
    padding: 26px 20px 100px 20px;
  }
  .launchDetailContent {
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width: 960px) {
      flex-wrap: wrap;
    }
    .wrapperLaunchDetailLeft {
      margin-right: 28px;

      @media only screen and (max-width: 960px) {
        margin-bottom: 20px;
        margin-right: 0px;
      }
      .whiteList {
        background-color: @neutral-500;
        padding: 24px;
        border-radius: 8px;
        max-width: 344px;
        width: 100%;
        margin-bottom: 16px;
        .heading {
          margin-bottom: 29px;
          .flexWhiteList {
            margin-bottom: 2px;
            display: flex;
            align-items: center;
            img {
              margin-right: 13px;
            }
          }
        }
        .button {
          text-align: center;
          button {
            padding: 12px 28px;
            margin: 0 auto;
          }
        }
      }
      .progress {
        background-color: @neutral-500;
        padding: 24px;
        border-radius: 8px;
        min-width: 344px;
        .progressItem,
        .progressItemActive {
          border-left: 2px solid #404040;
          padding-bottom: 24px;
          padding-left: 24px;
          position: relative;
          &:last-child {
            border-left: none;
          }
          .heading {
            margin-bottom: 5px;
            line-height: 1;
            &:last-child {
              margin-bottom: 0;
            }
          }
          .UPCOMING {
            width: 100%;

            .titleText {
              margin-bottom: 8px;
            }
            .time {
              margin-bottom: 24px;
              .timeItem {
                &:extend(.flex);
                margin-bottom: 4px;
              }
            }
            .timeJoin {
              padding-bottom: 24px;
              .titleText {
                margin-bottom: 11px;
              }
            }
          }
        }
        .progressItemActive {
          &::before {
            content: '';
            width: 14px;
            height: 14px;
            background: #b13acd;
            border-radius: 100%;
            position: absolute;
            left: -8px;
            top: 0;
          }
        }
        .progressItem {
          &::before {
            content: '';
            width: 14px;
            height: 14px;
            background: @neutral-300;
            border-radius: 100%;
            position: absolute;
            left: -8px;
            top: 0;
          }
        }
      }
    }
    .wrapperLaunchDetailRight {
      background-color: @neutral-500;
      border-radius: 8px;
      width: 100%;
      padding: 17px 0px 0px 0px;

      .heading {
        padding: 0px 32px 36px 32px;

        border-bottom: 1px solid #404040;
        .link {
          margin-bottom: 52px;
          &:extend(.flex);
          align-items: flex-start;

          .logo {
            display: flex;
            align-items: center;
            img {
              margin-right: 19px;
            }
            .button {
              margin-top: 13px;
              background: @neutral-300;
              border-radius: 8px;
              border: none;
              padding: 4px 12px;
            }
          }
          .iconLink {
            display: flex;
            align-items: center;
            a {
              width: 36px;
              height: 36px;
              background-color: @neutral-400;
              border-radius: 100%;
              position: relative;
              margin-right: 16px;
              &:last-child {
                margin-right: 0;
              }
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
        .tab {
          .tabLaunch {
            margin: 0 auto;
            .tabButton {
              padding: 8px 26px;
            }
            .tabButtonActive {
              padding: 8px 26px;
            }
          }
        }
      }
      .content {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        padding: 32px 16px 24px 16px;
        .DetailLaunchpadInfo {
          width: calc(50% - 32px);
          margin: 0 16px;
          .headingBackground {
            background: @neutral-300;
            border-radius: 8px 8px 0px 0px;
            padding: 16px 24px;
          }
          .body {
            background: @neutral-400;
            padding: 24px;
            .item {
              &:extend(.flex);
              margin-bottom: 32px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .bodyStep {
            background: @neutral-400;
            border-radius: 8px;
            padding: 24px;
          }
          .tabStep {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
            .tabStepItem,
            .tabStepItemActive {
              width: calc(50% - 8px);
              margin: 0 4px;
              border: none;
              background: none;
              border-bottom: 1px solid @neutral-200;
              cursor: pointer;
              padding-bottom: 8px;
            }
            .tabStepItemActive {
              border-bottom: 1px solid @neutral-100;
            }
          }
          .inputWrapper {
            .label {
              &:extend(.flex);
              margin-bottom: 16px;
            }
            .input {
              margin-bottom: 8px;
            }
            .minMax {
              &:extend(.flex);
              margin-bottom: 16px;
            }
            .textNote {
              margin-bottom: 24px;
            }
          }
          .button {
            &:extend(.flex);
            button {
              width: 170px;
            }
          }
        }
      }
    }
  }
}
