// Primary

@primary-blue: #1520e3;
@primary-violet: #b13acd;

// Neutral
@neutral-600: #000000;
@neutral-500: #121212;
@neutral-300: #404040;
@neutral-200: #828282;
@neutral-150: #a2a2a2;
@neutral-250: #0f0000;
@neutral-400: #212121;
@neutral-100: #ffffff;

//green
@green: #0eb56f;

//red
@red: #ff4d4f;

// yellow
@yellow: #f39200;

// Disabled
@disabled: #5b5b5b;

// Background
@background: #272727;

// gradient
@gradient: linear-gradient(92.75deg, #323be0 -57.33%, #b13acd 106.46%);
.backgroundColor {
  background: #272727;
}
.color-global {
  &:extend(.backgroundColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
