@import (css)
  url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './colors.less';
@import './fonts.less';

// body p2
.body-p2 {
  font-size: 14px;
  line-height: 22px;
}

.body-p2-regular {
  &:extend(.body-p2);
  font-weight: 400;
}

.body-p2-bold {
  &:extend(.body-p2);
  font-weight: 700;
}

// body p1
.body-p1 {
  font-size: 16px;
  line-height: 24px;
}

.body-p1-regular {
  &:extend(.body-p1);
  font-weight: 400;
}

.body-p1-medium {
  &:extend(.body-p1);
  font-weight: 500;
}

.body-p1-bold {
  &:extend(.body-p1);
  font-weight: 700;
}

// subheading
.subheading {
  font-size: 20px;
  line-height: 28px;
}

.subheading-p1-regular {
  &:extend(.subheading);
  font-weight: 400;
}

.subheading-p1-bold {
  &:extend(.subheading);
  font-weight: 700;
}

// heading
.heading {
  font-weight: 700;
}

.heading-p3-bold {
  &:extend(.heading);
  font-size: 24px;
  line-height: 32px;
}

.heading-p2-bold {
  &:extend(.heading);
  font-size: 30px;
  line-height: 38px;
}

.heading-p1-bold {
  &:extend(.heading);
  font-size: 38px;
  line-height: 46px;
}

//active

.active {
  font-weight: 700;
}
