@import './colors.less';

.pagination {
  :global {
    .rc-pagination-item {
      background-color: @neutral-300;
      min-width: 32px;
      height: 32px;
      border: none;
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: @neutral-100;
        min-width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .rc-pagination-item-active {
      background: linear-gradient(92.62deg, #323be0 -26.42%, #b13acd 108.59%);
      border-radius: 4px;
      min-width: 32px;
      height: 32px;
      a {
        min-width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: @neutral-100;
      }
    }
    .rc-pagination-prev,
    .rc-pagination-next {
      .rc-pagination-item-link {
        border: none;
        background: @neutral-300;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 15px;
        color: @neutral-100;
      }
    }
  }
}
