@import './reset.less';
@import './colors.less';
@import './button.less';
@import './fonts.less';
@import './text.less';
@import './sider.less';
@import './input.less';
@import './tab.less';
@import './pagination.less';
@import './slider.less';
@import './table.less';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background: @neutral-600;
  * {
    &:focus {
      outline: none;
    }
    color: #fff;
  }
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .rc-dialog-root {
    .rc-dialog-mask {
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
    }
    .rc-dialog-wrap {
      display: flex;
      align-items: center;
    }
  }
  button {
    cursor: pointer;
  }
}
table {
  width: 100%;
  margin-bottom: 50px;
  // border: 1px solid @neutral-300;
}
thead {
  background: @neutral-500;
}
th {
  padding: 20px;
  z-index: 10;
  border: 1px solid @neutral-300;
  text-align: center;
}
tr {
  background: @neutral-600;
}
tbody {
  tr:nth-child(even) {
    background: @neutral-400 !important;
  }
}
.main {
  padding: 30px;
  margin-bottom: 100px;
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 20px;
    background: @neutral-500;
    border-radius: 8px;
    .button {
      margin-right: 20px;
    }
    .InputSearch {
      width: 100%;
      margin-right: 20px;
    }
  }
  .table {
    padding: 30px 20px;
    background: @neutral-500;
    border-radius: 8px;
  }
  .groupAction {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .Pagination {
    text-align: right;
  }
}
