@import './reset.less';
@import './colors.less';
@import './button.less';
@import './fonts.less';
@import './text.less';
@import './sider.less';
@import './input.less';
@import './tab.less';
@import './pagination.less';
@import './slider.less';
@import './table.less';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background: @neutral-600;
  * {
    &:focus {
      outline: none;
    }
    color: #fff;
  }
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .rc-dialog-root {
    .rc-dialog-mask {
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
    }
    .rc-dialog-wrap {
      display: flex;
      align-items: center;
    }
  }
  button {
    cursor: pointer;
  }
}
table {
  width: 100%;
  margin-bottom: 50px;
  // border: 1px solid @neutral-300;
}
thead {
  background: @neutral-500;
}
th {
  padding: 20px;
  z-index: 10;
  border: 1px solid @neutral-300;
}
tr {
  background: @neutral-600;
}
tbody {
  tr:nth-child(even) {
    background: @neutral-400 !important;
  }
}
