@import '../global/colors.less';

.dashboard {
  .dashboardInfo {
    padding: 20px;
    margin: 20px 0px 500px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dashboardItem {
      text-align: center;
      background: @neutral-500;
      text-align: center;
      padding: 20px 15px 30px 15px;
      border-radius: 5px;
      width: calc(33.33% - 28px);
      margin: 0 auto;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      button {
        margin: 0 auto;
        background: linear-gradient(@neutral-500, @neutral-500) padding-box,
          linear-gradient(92.62deg, #323be0 -26.42%, #b13acd 108.59%);
      }
      .label {
        margin-bottom: 10px;
      }
      .text {
        margin-bottom: 20px;
      }
    }
  }
}
