.home {
  .landingPage {
    .backgroundImg {
      position: relative;
      max-width: 1920px;
      width: 100%;
      background-image: linear-gradient(
          180deg,
          #000000 -36.3%,
          rgba(1, 1, 1, 0) 18.75%,
          rgba(1, 1, 1, 0.4322) 66.74%,
          #000000 96.79%
        ),
        url('/assets/images/home-landingpage.png');

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: auto;
      padding: 100px 0 0 0;
      .container {
        max-width: 1460px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-self: center;
        .backgroundLogo {
          margin-right: 100px;
        }
        .AboutUs {
          text-align: left;
          margin-top: 50px;
        }
        .content {
          .item {
            margin-bottom: 32px;
          }
        }
      }
      // &::before {
      //   background-color: rgba(0, 0, 0, 0.37);
      //   content: '';
      //   display: block;
      //   height: 100%;
      //   position: absolute;
      //   width: 100%;
      //   z-index: 1;
      // }
    }
  }

  .content {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    .step {
      margin-bottom: 96px;
      .header {
        text-align: center;
      }
      .listStep {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
    }
    .tier {
      .listCard {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -14px;
        .listCardItem {
          width: calc(33.33% - 28px);
          margin: 0 14px 40px;
        }
      }
    }
  }
}
.title {
  background: -webkit-linear-gradient(
    92.75deg,
    #323be0 -57.33%,
    #b13acd 106.46%
  );
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  margin-top: -25px;
  margin-bottom: 40px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
