@import '../../global/colors.less';

.ManageUserWrapper {
  padding: 20px;
  margin-bottom: 100px;
  .ManageUserTop {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    .InputSearch {
      width: 100%;
      margin-right: 50px;
    }
  }
  .table {
    width: 100%;

    button {
      border: none;
      background: @primary-violet;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .Pagination {
      float: right;
    }
  }
}
